<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Networking Intern</h3>
            <div class="subheading mb-3">JLR Consulting</div>
            <p>Responsible for updating and maintaining Zabbix servers for various clients. Remove old and install new network hardware. Cable management.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2019 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">IT Helpdesk Student Worker</h3>
            <div class="subheading mb-3">Arcadia University IT Helpdesk</div>
            <p>Assist University faculty with classroom emergencies when technology is not functioning correctly. Assist students and staff solve software issues on University computers and on personal laptops.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2018 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Arcadia Ambassador</h3>
            <div class="subheading mb-3">Arcadia University</div>
            <p>Identify tour points of interest, provide directions, and describe other pertinent information, including the facilities and majors and minors to prospective students and their families. Interact with families, groups of students, and high school personnel, build relationships, and answer questions about the University.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">January 2018 - Present</span>
          </div>
        </div>

      </div>

    </section>